{% extends 'main.html' %}
{% load staticfiles %}

{% block post_all %}

    <div class="container">
        <div class="row">

            {# content block#}
            <div class="col-lg-8 col-md-8 col-sm-8">
                {% for i in key_post_all %}

                    {# preview posts #}

                    {# posts #}
                    <div class="row" id="posts">
                        <h1><a href="{% url 'blog:post_one' i.pk %}">{{ i.blog_title }}</a></h1>
                        <p>{{ i.blog_text|safe|truncatewords_html:40 }}</p>
                    </div>
                    {# end posts #}


                    {# icon posts #}
                    <div class="row" id="icon_post">
                        <div class="col-lg-3 col-md-4 col-sm-2">
                            <p class="fa fa-user fa-my"></p>  {{ i.blog_author }}
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-2">
                            <p class="fa fa-calendar fa-my"></p> {{ i.blog_date }}
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-2">
                            <p class="fa fa-thumbs-o-up fa-my"></p> {{ i.blog_likes }}
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-2">
                            <a class="btn btn-default" id="more" href="{% url 'blog:post_one' i.pk %}">читать далее</a>
                        </div>
                    </div>
                    {# end icon posts #}

                    <hr>

                {% endfor %}

                {# end preview posts #}



                {# pagination #}
                <div class="row" style="text-align: center">
                    <ul class="pagination pagination-block">

                        {% if key_post_all.has_previous %}
                            <li class=""><a href="/blog/page/{{ key_post_all.previous_page_number }}/">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="">&laquo;</a></li>
                        {% endif %}

                        {% for page in key_post_all.paginator.page_range %}
                            {% if page == key_post_all.number %}
                                <li class="current, active"><a href="/blog/page/{{ page }}/">{{ page }}</a></li>
                            {% else %}
                                <li><a href="/blog/page/{{ page }}/">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if key_post_all.has_next %}
                            <li class=""><a href="/blog/page/{{ key_post_all.next_page_number }}/">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                {# end pagination #}

            </div>
            {# end content block#}

            {# sidebar block #}
            <div class="col-lg-4 col-md-4 col-sm-4">

                {# sidebar #}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="list-group" id="sidebar">
                        <a href="/" class="list-group-item">
                            <h4 class="list-group-item-heading">На главную</h4>
{#                            <p class="list-group-item-text">текст</p>#}
                        </a>
                        <a href="{% url 'blog:post' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Блог</h4>
{#                            <p class="list-group-item-text">текст</p>#}
                        </a>
                        <a href="{% url 'mymodelsform:article_name' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Практика</h4>
{#                            <p class="list-group-item-text">текст</p>#}
                        </a>
                    </div>
                </div>
                {# end sidebar #}

            </div>
            {# sidebar block #}
        </div>
    </div>
{% endblock %}
