{% extends 'main.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block post_one %}

    <div class="container">
        <div class="row">

            {# content #}
            <div class="col-lg-8 col-md-8 col-sm-8">

                <div class="row">
                    <h1>{{ key_post_one.blog_title }}</h1>
                    <p>{{ key_post_one.blog_text|safe|linebreaks }}</p>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12  col-sm-12">
                        <p class="fa fa-user fa-my"></p> {{ key_post_one.blog_author }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9 col-md-9  col-sm-9">
                        <p class="fa fa-calendar fa-my"></p>{{ key_post_one.blog_date }}
                    </div>

                    <div class="col-lg-3 col-md-3  col-sm-3">
                        <p class="like">Понравилось: <a class="fa fa-thumbs-up" href="{% url 'blog:addlike' key_post_one.pk %}">
                            {{ key_post_one.blog_likes }}</a></p>
                    </div>
                </div>


                <div class="row" id="comments_form">

                    <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" id="comments">
                        <h4>Комментарии:</h4>
                    </div>

                    <div class="col-lg-offset-1 col-lg-9 col-md-offset-1 col-md-9 col-sm-offset-1 col-sm-9">

                    {% for comment in key_comments %}
                        <p style="font-style: italic" id="comments">{{ comment.comments_text }}</p>
                        <hr>
                    {%endfor %}
                        {% if username %}
                            {# form comment #}
                            <form action="{% url 'blog:addcomments' key_post_one.pk %}" method="post" class="form" >
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                         Добавить комментарий
                                    </button>
                                {% endbuttons %}
                            </form>
                            {# end form comment #}
                        {% endif %}
                    </div>
                </div>
                    {% if username %}
                        {% else %}
                            <b class="message_comments"><a href="{% url 'auth:login' %}">Войдите</a> или
                                <a href="{% url 'auth:register' %}">зарегистрируйтесь</a>, чтобы оставить комментарий</b>
                    {% endif %}
            </div>
            {# end content #}


            {# sidebar block #}
            <div class="col-lg-4 col-md-4 col-sm-4">

                {# sidebar #}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="list-group" id="sidebar">
                        <a href="/" class="list-group-item">
                            <h4 class="list-group-item-heading">На главную</h4>
{#                            <p class="list-group-item-text">текст</p>#}
                        </a>
                        <a href="{% url 'blog:post' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Блог</h4>
{#                            <p class="list-group-item-text">текст</p>#}
                        </a>
                        <a href="{% url 'mymodelsform:article_name' %}" class="list-group-item">
                            <h4 class="list-group-item-heading">Практика</h4>
{#                            <p class="list-group-item-text">текст</p>#}
                        </a>
                    </div>
                </div>
                {# end sidebar #}

            </div>
            {# sidebar block #}

        </div>
    </div>

{% endblock %}