#site_name .row h1{
    margin-top:65px;
    margin-bottom: 17px;
    font-family: 'Calibri', 'Arial', 'Sans-Serif';
}



.navbar-header img{
    margin-top: -11px;
    width: 42px;
    height: 42px;
}

.carousel-inner a{
    text-decoration: none;
    color: white;
}

.carousel-inner a:visited{
    color: white;
}

.carousel-inner a:hover{
    color: #49beb6;
}

#masonry{
    margin-top: 20px;
    margin-bottom: 20px;
}

#masonry div{
    padding: 0;
}

#masonry img{
    max-width:100%;
}

#masonry a:hover{
    opacity: 0.8;
}

#icon_post{
    background-color: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#more{
    float: right;
}

.fa{
    color: #60a9a2;
}

.fa-my{
    padding-right: 10px;
    font-size: 2em !important;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-thumbs-up{
    font-size: 1.5em !important;
    text-decoration: none;
}

.like a{
    text-decoration: none;
}

#sidebar{
   margin-top: 35px;
}

#sidebar a{
    margin-bottom: 10px;
}

#comments_form{
    margin-top: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 50px;
}

.row #comments{
    margin: 15px;

}

.panel-footer p{
    text-align: right;
}

li.button{
    padding-top: 13px;
}

.registr_input, .button_register{
    margin-top: 20px;
    margin-bottom: 20px;
}

.registr_button{
    margin-bottom: 110px;
}

.registr_button a{
    text-decoration: none;
}

b.message_comments{
    display: block;
    margin-bottom: 40px;
}

form.register_form, .login_form{
    margin-top: 70px;
}


h3.register_data_massege{
    margin-top: 90px;
}