{% extends 'main.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block forms %}
    <div class="container">
        <h2 class="text-center">Формы из моделей - Шаг 48 - План 1</h2><br>

        <div class="row">
            <h4 class="col-lg-7 col-md-7 col-sm-7 ">Введите значения:</h4>
            <h4 class="col-lg-5 col-md-5 col-sm-5 ">Посдедний результат в базе данных:</h4>
        </div><br>

        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <form action="{% url 'mymodelsform:article_name' %}" method="POST">
                    {% csrf_token  %}
                    {{ form.as_p }}<br>
                    <input type="submit" class="btn btn-default" value="Отправить"><br><br>
                </form>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5">
                <b>Название:</b><p>{{ vivod.title }}<br><br>
                <b>Текст: </b><p>{{ vivod.text }}
            </div>
        </div>
    </div>
{% endblock %}
