{% extends 'main.html' %}
{% load bootstrap3 %}

{% block login %}
    <div class="container">

        <div class="row">
        <h3 class="register_data_massege">Регистрационные данные:</h3>

            <form action="{% url 'auth:login' %}" method="post" class="login_form">
                {% csrf_token %}
                <label for="username">Имя пользователя: </label>
                <input class="input-group" type="text" name="username" id="username">
                <label for="password">Пароль: </label>
                <input class="input-group" type="password" name="password" id="password">

                {% if login_error %}
                    <label class="error">{{ login_error }}</label>
                {% endif %}

                <input class="registr_input" type="submit" value="Войти">
                <button class="registr_button"><a href="{% url 'auth:register' %}">Регистрация</a></button>
            </form>

        </div>
    </div>
{% endblock %}