{% extends 'main.html' %}
{% load bootstrap3 %}

{% block register %}
    <div class="container">

        <div class="col-lg-4 col-md-4 col-sm-4">
             <form action="{% url 'auth:register' %}" method="post" class="register_form">
                {% csrf_token %}
                {% bootstrap_form form %}
            <input type="submit" class="button_register" value="Зарегистрироваться">
            </form>
        </div>

    </div>
{% endblock %}