{% extends 'main.html' %}
{% load staticfiles %}

{% block slider %}
    <div class="container" id="slider">
      <div class="row">
          <div id="carousel" class="carousel slide">

              {#Индикаторы слайдов#}
              <ol class="carousel-indicators">
                  <li class="active" data-target="#carousel" data-slide-to="0"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
              </ol>

                {#Слайды#}
              <div class="carousel-inner">
                  <div class="item active">
                      <img src="{% static 'slide_1.jpg' %}" alt="Школа Django">
                      <div class="carousel-caption">
                          <a href="http://spb-tut.ru" target="_blank" class=""><h3>Школа Django (python)</h3></a>
                          <p class="hidden-xs hidden-sm">(программирование для всех!)</p>
                      </div>
                  </div>

                  <div class="item">
                      <img src="{% static 'slide_2.jpg' %}" alt="Школа Django">
                      <div class="carousel-caption">
                          <a href="http://spb-tut.ru" target="_blank"><h3>Школа Django (python)</h3></a>
                          <p class="hidden-xs hidden-sm">(программирование для всех!)</p>
                      </div>
                  </div>
              </div>

              {# Стрелки переключения слайдров#}
              <a href="#carousel" class="left carousel-control" data-slide ='prev'>
                  <span class="glyphicon gliphicon-chevron-left"></span>
              </a>

              <a href="#carousel" class="right carousel-control" data-slide ='next'>
                  <span class="glyphicon gliphicon-chevron-right"></span>
              </a>
          </div>
      </div>
  </div>
{% endblock %}

{% block masonry %}
    <div class="container" id="masonry">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="{% url 'blog:post' %}">
                    <img src="/static/masonry_1.jpg" alt="1">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="http://spb-tut.ru" target="_blank" >
                    <img src="/static/masonry_2.jpg" alt="2">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="{% url 'mymodelsform:article_name'%}">
                    <img src="/static/masonry_3.jpg" alt="2">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
